<form>
  <div class="mb-3">
    <label for="exampleInput" class="form-label">ID</label>
    <input type="text" class="form-control" id="exampleInput">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>